
#myGroup {
    font-size: 84%;
}
#myGroup .ui-controlgroup-label{
    float: none;
    display: block;
    text-align: center;
    width: 100%;
}
#myGroup .ui-controlgroup-label legend{
    font-weight: bold;
    font-size: 130%;
    width: 100%;
    margin-bottom: 8px;
}
#myGroup .ui-controlgroup-controls {
    float: none;
    display: block;
    width: 100%;
}
#myGroup .ui-radio{
    width: 25%;
}
#myGroup .ui-radio label{
    text-align: center;
    white-space: nowrap;
}


#myEffects {
    font-size: 84%;
}
#myEffects .ui-controlgroup-label{
    float: none;
    display: block;
    text-align: center;
    width: 100%;
}
#myEffects .ui-controlgroup-label legend{
    font-weight: bold;
    font-size: 130%;
    width: 100%;
    margin-bottom: 8px;
}
#myEffects .ui-controlgroup-controls {
    float: none;
    display: block;
    width: 100%;
}
#myEffects .ui-button{
    width: 25%;
}
#myEffects .ui-button label{
    text-align: center;
    white-space: nowrap;
}











#EffectChooser .ui-btn-inner{
    text-overflow: initial; /* Get rid of the ellipsis */
    padding-left: 5px; /* Play with padding to make max use of available button width */
}

#EffectChooser .ui-btn-text {
    font-size: 15px; /* Play with font size of the text */
}
.percentIndicator  {
    width: 60px;
    height: 12px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    background-image: linear-gradient( to right, black, white 0% );
    text-align:center;
    border: 1px solid black;
}

.pcAnnotation {position: relative;float:left}

.param
{
    text-align:center;
}

.effect

{
    border-style: solid;
    border-width: 1px;
}



.delay {background-color:lime !important}
.fuzz {background-color:yellow !important}
.filter {background-color:fuchsia !important}
.modulation {background-color:aqua !important}
.reverb {background-color:orange !important}

ui-slider-input {
    visibility:hidden;width:0px; !important
}

.ui-rangeslider .ui-rangeslider-sliders .ui-slider-track {
    background: red; !important
}
.ui-rangeslider .ui-rangeslider-sliders{
    margin: 0px; !important
}

.whiteonblack
{
    background-color:white;
    color:black;
}

#effectTweakerPage-popup, #effectChooserPage-popup, #effectPrintout-popup{
    height: 98%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0; !important;
}

#transcript {
    font-family:"Courier New";
    background-color:white;
    color:black;
}

#EffectChainPageHeaderTitle
{
    font-size:16px;
}


